body {
  margin: 0;
  font-family: Arial;
  background: #eef3fa;
  text-align: center;
}

.app {
  padding: 20px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 12px;
  font-size: 16px;
  width: 250px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

.cert {
  margin-top: 30px;
}

.overlay {
  position: relative;
  width: 980px;
  height: 693px;
  margin: auto;
  background-image: url("assets/Klassenfunkerlizenz.jpg");
  background-size: cover;
}

.flags {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
}

.flag {
  width: 28px;
  height: 28px;
}

.student {
  position: absolute;
  top: 235px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  font-family: Georgia;
}
